@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap');  
/* font-family: 'Nanum Pen Script', cursive;
   font-family: 'Noto Sans KR', sans-serif; */

		#container {
		  width : 600px;
		  margin : 20px auto;
		  font-family: 'Nanum Pen Script', cursive;
		  font-family: 'Noto Sans KR', sans-serif;
         }
         
         ul {
           list-style: none;
         }
         
         li {
           font-weight: bold;
           margin: 20px 0px;
         }  
         
         input[id="id"], input[id="pw"], input[id="pw2"], input[id="name"], input[id="phone_num"]
         ,input[id="address"], input[id="rest_address"] {
           font-size: 12pt;
           width: 400px;
           height: 35px;
         }
         
         input[id="idDulpCheck"] {
           background-color: #40c1fc;
           color: #ffffff;
           border:1px solid #40c1fc;
           width: 80px;
           height: 40px;
           font-family: 'Nanum Pen Script', cursive;
           font-family: 'Noto Sans KR', sans-serif;
         }
         
         input[type="email"] {
           font-size: 12pt;
           width: 185px;
           height: 35px;
         }
                        
         input[id="birth_year"] {
           font-size: 12pt;
           width: 125px;
           height: 35px;
         }

         input[id="birth_month"], input[id="birth_day"] {
           font-size: 12pt;
           width: 126px;
           height: 35px;
         }
         
         input[id="post_code"] {
           font-size: 12pt;
           width: 180px;
           height: 35px;
         }
         
         input[id="address"], input[id="rest_address"] {
           margin: 3px 0px 0px 0px;
         }
         
         input[id="btn"] {
           background-color: #fff;
           border: 0px solid black;
           text-decoration: underline;
         }
         
         form > div > input[id="none01"] {
           font-size: 12pt;
           text-align:center;
           width:150px;
           height:40px;      
           background-color:#40c1fc;
           color: #ffffff;
           border:0px solid #40c1fc;
           margin-left: 110px;
           font-family: 'Nanum Pen Script', cursive;
           font-family: 'Noto Sans KR', sans-serif;
         }
         
         form > div > input[id="none02"] {
           font-size: 12pt;
           text-align:center;
           width:150px;
           height:40px;      
           background-color:#ffbd24;
           color: #ffffff;
           border:0px solid #ffbd24;
           font-family: 'Nanum Pen Script', cursive;
           font-family: 'Noto Sans KR', sans-serif;
         }          
           