body {
    background-color: #dadde2;
}
#search_list_box {
    display: block;
    background-color: wheat;
    height: 100px;
}
#search_list_box ul {
    display: flex;
    list-style: none;
}
#search_list_box li {
    margin-left: 27px;
    margin-top: 15px;
}
#search_list {
    text-align: center;
}
#search_box_containor {
    display: flex;
    align-items: center;
}
#search_area {
    width: 80%;
    height: 70px;
    text-align: center;
    font-size: 30px;
    background-color: white;
}
#search_button {
    height: 76px;
    width: 17%;
    font-size: 30px;
    background-color: #ffcd29;
    margin-left: 15px;
    color: white;
    border-radius: 5%;
}
#search_area::placeholder {
    text-align: center;
    font-size: 30px;
}
#shape_search_box {
    background-color: white;
    width: 100%;
    height: 750px;
    border: 1px solid black;
    margin-top: 15px;
}
#shape_search_box h2 {
    text-align: center;
    font-size: 40px;
}
#shape_search_box img {
    width: 250px;
    float: right;
    margin-right: 15px;
    border: 1px solid black;
}
#med_char_input {
    height: 550px;
    background-color: white;
    width: 30%;
    margin-left: 15px;
}
#med_char_input div {
    background-color: white;
    width: 100%;
    height: 25%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#med_char_input i {
    font-size: 50px;
}
#med_char_input div p {
    font-size: 35px;
}
#detail_view_box {
    width: 80%;
    height: 500px;
    margin-left: 70px;
    margin-right: 15px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid black;
}
#med_search_box {
    height: 100px;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 15px;
    margin-top: 5px;
    padding-top: 15px;
}
#med_search {
    text-align: center;
}
#result_box {
    background-color: #dadde2;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.result {
    background-color: white;
    width: 40%;
    border: 1px solid black;
    height: 350px;
    margin: 15px 15px;
}
.result_img {
    width: 100%;
    height: 50%;
    background-color: wheat;
}
