<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fiveguys.pilldex.detail">

	<resultMap id="DrugMap" type="DrugVO">
		<result column="no" property="no" />
		<result column="m_no" property="mNo" />
		<result column="nm" property="nm" />
		<result column="del" property="del" />
	</resultMap>
	<!-- 해당 사용자의 약품 즐겨찾기 목록 -->
	<select id="selectDrugList" parameterType="int"
		resultMap="DrugMap">
		SELECT *
		FROM book_drug
		WHERE
		m_no = #{userNo}
		AND del = '0'
	</select>

	<!-- 해당 사용자의 약품 즐겨찾기 갯수 -->
	<select id="drugCheckCnt" parameterType="int" resultType="int">
		SELECT
		COUNT(*) cnt
		FROM book_drug
		WHERE m_no = #{mNo}
		AND del = '0'
	</select>

	<!-- 해당 사용자의 약 목록 중복 여부 -->
	<select id="drugCheckNm" parameterType="String" resultType="int">
		SELECT COUNT(*) cnt
		FROM
		book_drug
		WHERE nm = #{nm}
		AND del = '0'
	</select>

	<!-- 약품 즐겨찾기 추가 -->
	<delete id="insertOne" parameterType="DrugVO">
		INSERT INTO book_drug (
		no,
		m_no,
		nm,
		del
		) VALUES (
		DRUG_NO.NEXTVAL,
		#{mNo},
		#{nm},
		'0'
		)
	</delete>

	<!--약품 즐겨찾기 삭제 -->
	<delete id="deleteDrugList" parameterType="String">
		DELETE FROM book_drug
		WHERE nm = #{nm}
	</delete>

	<!-- 약품 즐겨찾기 delete:1로 update -->
	<update id="updateDel" parameterType="UserVO">
		UPDATE book_drug
		SET del =
		'1'
		WHERE nm = #{nm}
	</update>

</mapper>