<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.main1-paging-mapper">
    <select id="list"
        resultType="com.fiveguys.pilldex.domain.PillVO">
        SELECT item_name,drug_shape,color_class1,chart
        FROM PILL_TABLE
    </select>
		
	<select id="count" resultType="int">
	   SELECT COUNT(item_name) 
	   FROM PILL_TABLE
	</select>
	
       <!-- 게시물 목록 + 페이징 -->
	<select id="listPage" parameterType="hashMap" resultType="com.fiveguys.pilldex.domain.PillVO">
       SELECT item_name,drug_shape,color_class1,chart
	      FROM (
	        SELECT ROW_NUMBER() OVER (ORDER BY item_name) NUM
	             , A.*
	          FROM PILL_TABLE A
	         ORDER BY item_name
	        ) 
	 WHERE NUM BETWEEN #{displayPost} AND #{postNum}
	</select>
<!-- // #{displayPost}, #{postNum}- -->

</mapper>